@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #fcfbfc;
  --foreground: #1f1f1f;
  --card: #f9f4f0;

  --accent: #258d61;
  --accent-foreground: #67cba0;

  --muted: #fafafa;
  --muted-foreground: #8c8c8c;
  --border: #e4e4e7;
  --popover: #e4e4e7;
}

.dark {
  --background: #1b1b1b;
  --foreground: #ffff;
  --card: #1f1f1f;

  --accent: #258d61;
  --accent-foreground: #67cba0;

  --muted: #262626;
  --muted-foreground: #8c8c8c;
  --border: #313131;
  --popover: #313131;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-popover: var(--popover);
  --color-border: var(--border);
}
